/*.App {*/
/*  text-align: center;*/
/*  background-color: #282c34;*/
/*}*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

span {
  width: 25px;
  height: 40px;
  background-color: dodgerblue;
  margin-right: 3px;
}

input {
  width: 60%;
  min-width: 50px;
  padding-right: 10px;
  font-size: 20px;
  outline: none;
  border: 1px solid #d6d4d4;
  color: #5AC732;
  font-weight: bold;
  text-align: right;
}

.graph {
  display: flex;
  /*grid-template-columns: repeat(7, 1fr);*/

}

.App {
  width: 90%;
  margin: 20px auto 0 auto;
}

.sales {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid black;
  font-size: 20px;
}

.deptInfo {
  display: grid;
  margin: 20px 0;
  /*flex-wrap: wrap;*/
}

.info {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr;
  padding-bottom: 10px;
}

.symbolBtn {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  margin-right: 20px;
  color: whitesmoke;
}

.addTaskBtn {
  width: 40px;
  height: 30px;
  border-radius: 45%;
  border: 1px solid #d6d4d4;
}

.tasks {

}

@media(min-width: 576px) {
  .deptInfo {
    grid-template-columns: 3fr 2fr;
  }

}
